$bubble-tip-size = 8px
.bubble-chat
  display block
  height 300px
  width 100%
  padding-top 0
  padding-right (2 * $bubble-tip-size + 15px)
  padding-bottom 0
  padding-left (2 * $bubble-tip-size)
  overflow hidden
  background-image linear-gradient(to right, #ff9380, #7dec59)
  box-shadow 3px 7px 7px rgba(black, 0.15)
  transition transform 300ms ease, box-shadow 300ms ease
  &:hover
    transform translate3d(0, -10px, 0)
    box-shadow 20px 16px 16px rgba(black, 0.15) //, -20px 16px 16px rgba(black, 0.15)
    overflow auto
    padding-right (2 * $bubble-tip-size)
.narration
  clear both
  display block
.bubble
  position relative
  display block
  width 85%
  margin 10px 0
  padding 4px 7px 7px 7px
  background-color white
  border-radius 5px
  &.bubble-left
    float left
    text-align left
  &.bubble-right
    float right
    text-align right
    &:before
      left inherit
      right - (2 * $bubble-tip-size)
      border-color transparent transparent transparent white
  &:before
    content ""
    position absolute
    border-width $bubble-tip-size
    border-style solid
    border-color transparent white transparent transparent
    left - (2 * $bubble-tip-size)
    top "calc(50% - %s)" % ($bubble-tip-size)
    width 0
    height 0
.bubble-author
  display block
  text-transform uppercase
  font-weight bold
  font-size 75%
  for author-color, i in blueviolet brown cornflowerblue crimson darkmagenta forrestgreen limegreen darkgray
    &.bubble-author-{i}
      color author-color
.bubble-portrait
  width 80px
  height @width
  border-radius 50%
