.color-portrait
  display inline-block
  width .65em
  height .65em
  border-radius 50%
  border 1px solid black

  &.ffd5d5
    background-color #ffd5d5

  &.black
    background-color #000

  &.red
    background-color #f00

  &.green
    background-color #0f0

  &.blue
    background-color #00f

  &.yellow
    background-color #ff0

  &.magenta
    background-color #f0f

  &.cyan
    background-color #0ff

  &.gray
    background-color #777

  &.white
    background-color #fff
  
  &.gold
    background-color gold

  &.forestgreen
    background-color forestgreen

  &.cornflowerblue
    background-color cornflowerblue

  &.rebeccapurple
    background-color rebeccapurple

