.css-rule-anatomy:not(.selector, .declaration.property, .value) .other-rule
  opacity 1 !important

.css-rule-anatomy.rule .other-rule path
  fill #999 !important

.css-rule-anatomy.rule .rule,
.css-rule-anatomy.selector .selector,
.css-rule-anatomy.declaration .declaration,
.css-rule-anatomy.property .property,
.css-rule-anatomy.value .value
  opacity 1 !important
