.itemcloud
  font-size 1.8em
  background-image linear-gradient(to right, rgba(0,0,0,.8) 95%, #454545 95%)
  background-color rgba(0,0,0,.8)
  padding 1em 5% 1em 0.5em
  text-align center
.clouditem
  display inline-block
  padding-left .15em
  padding-right .15em
  line-height 90%
