.tag-anatomy .step-0 .hidden-before-1,
.tag-anatomy .step-0 .hidden-before-2,
.tag-anatomy .step-0 .hidden-before-3,
.tag-anatomy .step-0 .hidden-before-4,
.tag-anatomy .step-0 .hidden-before-5
  opacity 0

.tag-anatomy .step-1 .hidden-before-2,
.tag-anatomy .step-1 .hidden-before-3,
.tag-anatomy .step-1 .hidden-before-4,
.tag-anatomy .step-1 .hidden-before-5
  opacity 0
  
.tag-anatomy .step-2 .hidden-before-3,
.tag-anatomy .step-2 .hidden-before-4,
.tag-anatomy .step-2 .hidden-before-5
  opacity 0
  
.tag-anatomy .step-3 .hidden-before-4,
.tag-anatomy .step-3 .hidden-before-5
  opacity 0

.tag-anatomy .step-4 .hidden-before-5
  opacity 0