// backdrop slides
.blastoff.bespoke-backdrop-active
  background-image url(../images/icanhaz-blastoff.gif)
  background-size cover
  width 100%
  height 100%

.oldtimes.bespoke-backdrop-active
  background-image url(../images/old-movie-texture.gif)
  background-size cover
  opacity 0.40
  width 100%
  height 100%

.resolution
  opacity  0
  transition all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
  transform translateY(100%)
  &.resolution-shown
    opacity 1
    transform translateY(0)

.piratas.bespoke-backdrop
  background-image url(../images/piratas-e-seus-tesouros.png)
  background-size cover
  width 100%
  height 100%
  opacity 0
  transition none
  transform scale(.35)
  &.bespoke-backdrop-active
    opacity 1
    transform scale(1)
    transition all 500ms ease 400ms

.pratica-abelhas.bespoke-backdrop
  background-image url(../images/pratica-abelhas.png)
  background-size cover
  background-position bottom center
  width 100%
  height 100%
  opacity 0
  transition none
  transform scale(.35)
  &.bespoke-backdrop-active
    opacity 1
    transform scale(1)
    transition all 500ms ease 400ms

.pratica-unicornios.bespoke-backdrop
  background-image url(../images/unicorns-comp-lpw.png)
  background-size cover
  width 100%
  height 100%
  opacity 0
  transition none
  transform scale(.35)
  &.bespoke-backdrop-active
    opacity 1
    transform scale(1)
    transition all 500ms ease 400ms

.divitite.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.divitite.bespoke-backdrop-active
  background-image url(../images/divitities.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.assombrado.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.assombrado.bespoke-backdrop-active
  background-image url(../images/assombrado.jpg)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.exemplo-position-absolute.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.exemplo-position-absolute.bespoke-backdrop-active
  background-image url(../images/exemplo-position-absolute.png)
  background-repeat no-repeat
  background-position 50% 75%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.exemplo-position-relative.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.exemplo-position-relative.bespoke-backdrop-active
  background-image url(../images/exemplo-position-relative.png)
  background-repeat no-repeat
  background-position 50% 100%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.assombrado-position.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.assombrado-position.bespoke-backdrop-active
  background-image url(../images/assombrado-position.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.coral-55.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.coral-55.bespoke-backdrop-active
  background-image url(../images/coral55-comp.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.matematica.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.matematica.bespoke-backdrop-active
  background-image url(../images/activity-thumbs/matematica.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.space.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.space.bespoke-backdrop-active
  background-image url(../images/activity-thumbs/space.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.avatarcreator.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.avatarcreator.bespoke-backdrop-active
  background-image url(../images/activity-thumbs/avatar.jpg)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.lista-de-tarefas.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.lista-de-tarefas.bespoke-backdrop-active
  background-image url(../images/activity-thumbs/todo.jpg)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.photosnap.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.photosnap.bespoke-backdrop-active
  background-image url(../images/photosnap.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%


.shiny.bespoke-backdrop-active
  position relative
  width 100%
  height 100%
  &::before
    content " "
    position absolute
    top -75%
    left -75%
    right -75%
    bottom -75%
    background-image url(../images/shiny.jpg)
    background-size contain
    background-position 50% 50%
    opacity 0.5
    z-index -1
    animation girando 360s linear 0s infinite


@keyframes girando
  from
    transform rotateZ(0)
  to
    transform rotateZ(1turn)


.resolutionary.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.resolutionary.bespoke-backdrop-active
  background-image url(../images/resolutionary.jpg)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%

.piratas-php.bespoke-backdrop
  background-image url(../images/piratas-php.jpg)
  background-size cover
  background-repeat no-repeat
  background-position 50% 100%
  width 100%
  height 100%
  opacity 0
  transition none
  transform scale(.35)
  &.bespoke-backdrop-active
    opacity 1
    transform scale(1)
    transition all 500ms ease 400ms

.starwars.bespoke-backdrop
  opacity 0
  transform translate3d(0, 5%, 0)
  transition opacity 200ms ease 500ms, transform 200ms ease 500ms
.starwars.bespoke-backdrop-active
  background-image url(../images/cefet-front-end-starwars.png)
  background-size cover
  background-position 50% 0%
  opacity 1
  transform translate3d(0, 0, 0)
  width 100%
  height 100%
