.bespoke-proceed-input
  outline solid 1px yellow
  background-color lighten(yellow, 75%)
  transition all 200ms cubic-bezier(0.26, 2.94, 0.65, 0.45)
  &.bespoke-proceed-success
    outline-color green
    background-color lighten(green, 75%)
    transform scale(1.05)
