@import 'highlight.js/styles/atom-one-light.css'
@media (prefers-color-scheme: dark)
  @import 'highlight.js/styles/monokai-sublime.css'

// variables
$page-header-height = 1vw
$page-header-height-portrait = 1.25vh
$page-header-height-expanded = 6vw
$page-header-height-expanded-portrait = 12vh
$background-color = #d6def8

// general tags
html, body
  height 100%
  overflow hidden

body
  background-color $background-color


// header and presentation-container layout
#page-header
  padding 0
  font-size $page-header-height
  transition height 200ms ease-out, transform 200ms ease-out
  transform translate3d(0, -($page-header-height / 2), 0)
  &:hover,
  &.showing
    transform translate3d(0, 0, 0)
    + #presentation-container
      transform translate3d(0, $page-header-height-expanded, 0)

@media screen and (orientation: portrait)
  #page-header
    font-size $page-header-height-portrait
    &:hover + #presentation-container
      transform translate3d(0, $page-header-height-expanded-portrait, 0)

#page-title
  margin 0
  vertical-align top

#page-author
  display inline-block
  float right
  margin 8px

#page-author-name
  display none

.page-author-picture
  width 60px
  height @width
  border-radius 50%

#presentation-container
  position absolute
  top 0
  height "calc(100vh - %s)" % $page-header-height
  width 100%
  transform translate3d(0, $page-header-height, 0)
  transition transform 300ms ease

#presentation
  transition all 200ms ease-out

// title animation
$title-animation-duration = 600ms
$title-animation-delay = 450ms
$title-animation-easing = cubic-bezier(0, 0, 0.7, 1.58)

.title-part-left
.title-part-top
.title-part-right
.subtitle
  opacity 0
  display inline-block

.title-part-left
  animation appear-from-left $title-animation-duration $title-animation-easing 0s 1 forwards
  animation-delay $title-animation-delay * 2
  transform translateX(-2em)

.title-part-top
  animation appear-from-top $title-animation-duration $title-animation-easing 0s 1 forwards
  animation-delay $title-animation-delay * 3
  transform translateY(-1em)

.title-part-right
  animation appear-from-right $title-animation-duration $title-animation-easing 0s 1 forwards
  animation-delay $title-animation-delay * 4
  transform translateX(2em)

.subtitle
  animation appear-from-bottom $title-animation-duration $title-animation-easing 0s 1 forwards
  animation-delay $title-animation-delay * 5
  transform translateY(100%)

@keyframes appear-from-left
  from
    transform translateX(-2em)
    opacity .25
  to
    transform translateX(0)
    opacity 1

@keyframes appear-from-top
  from
    transform translateY(-1em)
    opacity .25
  to
    transform translateY(0)
    opacity 1

@keyframes appear-from-right
  from
    transform translateX(2em)
    opacity .25
  to
    transform translateX(0)
    opacity 1

@keyframes appear-from-bottom
  from
    transform translateY(100%)
    opacity .25
  to
    transform translateX(0)
    opacity 1

.bordered
  border 1px solid rgba(0, 0, 0, .5)

.rounded
  border-radius 4px

.clearer
  clear both


.tipo-js
  border 1px solid currentColor
  padding 0.15em
  border-radius 5px
  white-space nowrap
  background-color #fbfbfb

@media (prefers-color-scheme: dark)
  .tipo-js
    background-color #111
  
.tipo-boolean
  color cornflowerblue
  
.tipo-number 
  color #ae81ff
  
.tipo-string
  color #948814

.tipo-object
  color #4d8c21

.dashed
  border 2px dashed gray

// easter egg
#easter-egg-panel
  position absolute
  right 1vw
  bottom 4vh
  color black
  padding 5px
  font-size 11px
  background-color silver
  border-radius 5px
  transition opacity 100ms ease-out
  pointer-events none
  opacity 0
  z-index 1
  font-family monospace
  font-weight bold
  &.active
    opacity 0.25
  &.success
    animation vanishing 800ms ease-out 0s 1

.easter-egg-key
  transition all 100ms ease-out
  opacity 0
  transform translate3d(1em, 0, 0)
  .active &
    opacity 1
    transform translate3d(0, 0, 0)

@keyframes vanishing
  from
    transform scale(1)
  to
    transform scale(2)
    opacity 0


@require backdrops
@require tutorial
@require gallery
@require bespoke-proceed
@import './caniuse.css';
  
@media print
  #page-header
    display none
  #presentation-container
    height auto
