// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
@import 'highlight.js/styles/monokai-sublime.css'
// @import 'bespoke-markdownit/node_modules/highlight.js/styles/monokai-sublime.css'

// variables
$page-header-height = 1vw
$page-header-height-portrait = 1.25vh
$page-header-height-expanded = 6vw
$page-header-height-expanded-portrait = 12vh
$background-color = #d6def8

// general tags
html, body
  height 100%
  overflow hidden

body
  background-color $background-color

// header and presentation-container layout
#page-header
  padding 0
  font-size $page-header-height
  transition height 200ms ease-out, transform 200ms ease-out
  transform translate3d(0, -($page-header-height / 2), 0)
  &:hover
    transform translate3d(0, 0, 0)
    + #presentation-container
      transform translate3d(0, $page-header-height-expanded, 0)

@media screen and (orientation: portrait)
  #page-header
    font-size $page-header-height-portrait
    &:hover + #presentation-container
      transform translate3d(0, $page-header-height-expanded-portrait, 0)

#page-title
  margin 0
  vertical-align top

#page-author
  display inline-block
  float right
  margin 8px

#page-author-name
  display none

.page-author-picture
  width 60px
  height @width
  border-radius 50%

#presentation-container
  position absolute
  top 0
  height "calc(100vh - %s)" % $page-header-height
  width 100%
  transform translate3d(0, $page-header-height, 0)
  transition transform 300ms ease


@require backdrops
@require tutorial
@import './caniuse.css';


@media print
  #page-header
    display none
  #presentation-container
    height auto
  // gambiarra: alguns slides excedem a altura. Por agora, usar overflow:hidden
  .bespoke-slide
    overflow-y hidden
