

strong.alternate-color
  color #7b9c02

.show-active-slide-and-previous
  .bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 1
  .bespoke-active
    transform translate3d(30%, 0, -250px) rotateY(-10deg)

[data-bespoke-state=show-active-slide-and-previous]
  &.bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 0


ul.no-list-icon
ol.no-list-icon
  list-style-type none

.no-padding
  padding 0

.centered
  margin-left auto
  margin-right auto

.horizontal-list-flex
  display flex
  flex-wrap wrap
  flex-direction row


.full-page-video-caption
  position absolute
  bottom 30px
  font-size 0.75em
  left 50%
  width 16em
  text-align center
  margin-left -8em
  padding 0
  background-color rgba(255, 255, 8, .65)
  border-radius .25em
  box-shadow 3px 3px 3px rgba(black, .2)



.figure-slides
  & > p
    margin 0
  &.clean
    .bespoke-bullet:not(.bespoke-bullet-current)
      visibility hidden

.bullet-no-anim
  transition none !important

.full-width-slides
  max-width 100%
  & img
    max-width 100%

.layout-regular-horizontal
  flex-direction row

.layout-regular-block
  display block

.layout-2-column-content-zigzag
  display flex
  flex-direction row
  flex-wrap wrap
  align-items flex-start
  h1, h2
    width 100%
  & > *:not(:first-child)
    //flex 1
    width 48%

.layout-2-column-content-result
  display flex
  flex-direction column
  flex-wrap wrap
  align-items flex-end
  & > *
    //flex 1
    width 48%


[class*="layout-2-column-content-"]
  display flex
  flex-direction row
  flex-wrap wrap
  align-items flex-start
  & > *:first-child
    width 100%
    align-self flex-end
  & > pre
    max-height calc(100% - 0.25em - 1.5em - 24px - 4em)

.layout-2-column-content-30-70
  & > *:nth-child(2)
    width 30%
  & > *:last-child
    width 68%

.layout-2-column-content-40-60
  & > *:nth-child(2)
    width 40%
  & > *:last-child
    width 58%

// effects
.underline
  position relative
  &::after
    content " "
    position absolute
    bottom 5%
    left 0
    width 100%
    border 2px solid currentColor

  &.upon-activation
    &::after
      transition width 400ms ease-out 400ms
      width 0
    .bespoke-active &
      &::after
        width 100%

.jump
  &.upon-activation
    display inline-block
    transition all 200ms cubic-bezier(0, 0, 0.27, 1.58) 700ms
    opacity 0
    transform scale(.2) translateY(50%)
    .bespoke-active &
      opacity 1
      transform scale(.6) translateY(0%)

for d in 200 400 600 800 1000 1200 1400 1600 1800 2000 2200 2400 2600 2800 3000
  .delay-{d}
    &
    &::before
    &::after
      animation-delay 1ms * d !important
      transition-delay 1ms * d !important

abbr[title]
  border-bottom initial


.nota
  border 1px solid darkgoldenrod
  list-style-type none
  border-radius 5px
  box-shadow 3px 3px 3px rgba(0, 0, 0, .2)
  padding 0.3em 0.5em
  background linear-gradient(to right bottom, lightyellow, #FFF176)
  &::before
    content "\26A0"
    margin-right 1rem
    color black
    border inherit
    border-radius 50%
    width 1em
    height 1em
    display inline-block
    text-align center
    line-height 0.75em
    background white
    font-size 2em
    box-shadow inherit
    box-sizing border-box
  strong
    color darkgoldenrod
