

strong.alternate-color
  color #7b9c02

.show-active-slide-and-previous
  .bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 1
  .bespoke-active
    transform translate3d(30%, 0, -250px) rotateY(-10deg)
