

strong.alternate-color
  color #7b9c02

.show-active-slide-and-previous
  .bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 1
  .bespoke-active
    transform translate3d(30%, 0, -250px) rotateY(-10deg)

[data-bespoke-state=show-active-slide-and-previous]
  &.bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 0


ul.no-list-icon
ol.no-list-icon
  list-style-type none

.no-padding
  padding 0

.centered
  margin-left auto
  margin-right auto

.center-aligned
  text-align center

.figure-slides
  & > p
    margin 0
  &.clean
    .bespoke-bullet:not(.bespoke-bullet-current)
      visibility hidden

.bullet-no-anim
  transition opacity 200ms ease-out

.layout-regular-block
  display block

.layout-2-column-content-zigzag
  display flex
  flex-direction row
  flex-wrap wrap
  align-items flex-start
  h1, h2
    width 100%
  & > *:not(:first-child)
    //flex 1
    width 48%



// effects
.underline
  position relative
  &::after
    content " "
    position absolute
    bottom 5%
    left 0
    width 100%
    border 2px solid currentColor

  &.upon-activation
    &::after
      transition width 400ms ease-out 400ms
      width 0
    .bespoke-active &
      &::after
        width 100%

.jump
  &.upon-activation
    display inline-block
    transition all 200ms cubic-bezier(0, 0, 0.27, 1.58) 700ms
    opacity 0
    transform scale(.2) translateY(50%)
    .bespoke-active &
      opacity 1
      transform scale(.6) translateY(0%)

for d in 200 400 600 800 1000 1200 1400 1600 1800 2000
  .delay-{d}
    &
    &::before
    &::after
      animation-delay 1ms * d !important
      transition-delay 1ms * d !important
