// tutorial
$tutorial-right = 1vw

.tutorial
  position absolute
  right $tutorial-right
  bottom 2em
  padding .5em .75em
  font-size 2vw
  width 13em
  border-radius 0.4em
  border 1px solid rgba(black, .3)
  background-color rgba(white, .8)
  box-shadow 3px 3px 3px rgba(black, .2)
  transition opacity 300ms ease-out, transform 400ms cubic-bezier(0, 0, 0.53, 1.64)
  opacity 0
  transform scale(.5)
  z-index 1
  pointer-events none
  user-select none
  &.tutorial-on
    opacity 1
    transform scale(1)
    animation bounce 1s ease-out 0s infinite alternate

@media screen and (orientation: portrait)
  .tutorial
    font-size 2vh

@keyframes bounce
  from
    right $tutorial-right
  to
    right $tutorial-right * 2
